<%- include("../partials/header") %>
<div class="row">
    <div class="container">
        <h1 style="text-align: center;">Comment about <%= camp.name %></h1>

        <div style="width: 30%; margin: 0 auto">
            <form action="/campgrounds/<%= camp._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]">
                </div>
                <div class="form-group">  
                    <input class="btn btn-default btn-lg btn-block " type="submit">
                </div>
            </form>
            <a href="/campgrounds/<%= camp._id %>">Go Back</a>
        </div>

        
        
    </div>
</div>


<%- include("../partials/footer") %>